.catalog {
}

.catalog__item {
  font-size: 0;
  margin-bottom: 30px;
  &:hover .catalog__desc-price {
    opacity: 0.6
  }
  &:active .catalog__desc-price {
    opacity: 0.3
  }
  &:hover .catalog__desc-img {
    fill: #77d7c4;
    opacity: 1
  }
  &:active .catalog__desc-img {
    opacity: 0.3
  }
}

.catalog__img {
  font-size: 0;
  & img {
    width: 100%;
    height: auto;
  }
}

.catalog__desc {
  padding: 0 25px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.catalog__desc-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  margin-top: auto;
}

.catalog__desc-img {
  fill: #221f1f;
  opacity: 0.2
}

.catalog__item:hover .catalog__desc {
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__desc {
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.catalog__desc-title {
  display: block;
  padding-top: 30px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Verdana";
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

.catalog__desc-char {
  padding-bottom: 25px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.catalog__desc-price {
  font-family: "Verdana";

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  display: block;
  padding: 29px 0;
  font-style: normal;
}

@media @tablet-widths {
  .catalog__item {
    display: flex;
    min-height: 334px;
  }

  .catalog__img {
    max-width: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    & img {
      width: auto;
      height: 334px;
    }
  }

  .catalog__desc {
    flex-grow: 1;
    padding: 0 33px;
    display: flex;
    flex-direction: column;
  }

  .catalog__desc-title {
    font-size: 18px;
  }

  .catalog__desc-char {
    font-size: 15px;
  }

  .catalog__desc-price {
    margin-top: auto;
    font-size: 16px;
  }
}

@media @desktop-widths {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .catalog__item {
    width: 30.3%;
    flex-direction: column;
  }

  .catalog__img  {
    max-width: 100%;
    & img {
      height: 484px;
    }
  }

  .catalog__desc {
    width: auto;
    flex-grow: 1;
  }
}
