.contact__item-header,
.contact__item-footer,
.contact__info {
  .container();
}

.contact__title {
  .title();
  margin-bottom: 35px;
}

.contact__flag {
  display: none;
}

.contact__table {
  width: 100%;
}

.contact__row {
  display: flex;
  margin-bottom: 40px;
}

.contact__cell {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  vertical-align: top;
  &--left {
    width: 30.7%;
  }
}

.contact__map {
  overflow: hidden;
}

.contact__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 0;
  margin-bottom: 40px;
  & img {
    height: 457px;
  }
}

.contact__btn {
  margin-bottom: 40px;
}

@media @tablet-widths {
  .contact__flag {
    display: block;
  }

  .contact__item-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .contact__table tbody {
    display: flex;
  }

  .contact__row {
    width: 50%;
  }

  .contact__btn {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media @desktop-widths {
  .contact__item {
    min-height: 457px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .contact__item-header {
    margin: 0;
    width: 50%;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 62px;
  }

  .contact__title {
    width: 67%;
    margin: 0;
  }

  .contact__flag {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact__info {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    flex-shrink: 1;
    display: flex;
  }

  .contact__table tbody {
    flex-direction: column;
    padding-left: 33%;
  }

  .contact__row {
    width: 100%;
  }

  .contact__map {
    width: 50%;
    padding-right: 4.347%;
    position: absolute;
    max-width: 552px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    & img {

      height: 457px;
    }
  }

  .contact__item-footer {
    margin: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .contact__btn {
    margin: 0;
    margin-left: 33%;
  }
}
