.contact {
        margin-bottom: 39px;
    &__cell {
        font-size: 14px;
        line-height: 30px;
        color: #444444;
        vertical-align: top;
    }
    &__map {
        min-height: 457px;
        background-image: url("../img/map-mobile@1x.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 39px;
    }
    &__btn {
        margin-bottom: 30px;
    }
}
