.form {
    &__title {
        padding: 70px 0;
        background-color: #f1f1f1;
        text-align: center;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 25px;
    }
    &__item-title {
        position: relative;
        font-size: 17px;
        line-height: 17px;
        color: #63d1bb;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__list input[type="radio"],
    &__list input[type="checkbox"] {
        display: none;
    }
    &__label {
        display: block;
        font-size: 17px;
        line-height: 19px;
        font-weight: bold;
        padding: 10px 0;
        padding-left: 30px;
        margin-bottom: 30px;
        &--text {
            margin: 0;
            padding: 0;
        }
    }
    &__field {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        padding: 10px 0;
        margin-bottom: 30px;
        &--textarea {
            border: 2px solid black;
            width: 100%;
            padding: 17px 15px;
            box-sizing: border-box;
        }
    }
    &__btn {
        margin-bottom: 30px;
    }
}
