.form {
  padding: 0 9.365%;
}

.form__btn {
  margin-bottom: 30px;
}

.form__item {
  margin: 0;
  border: none;
}

.form__item--fio {
  border: none;
}


.form__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.form__item-title-wrap {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.form__item-title {
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 20px;
}

.form__item-border {
  display: flex;
  flex-grow: 1;
  border-top: 1px solid #62d1ba;
}

.form__list {
  display: flex;
  flex-direction: column;
}

.form__input--radio,
.form__input--checkbox {
  display: none;
}

.form__label {
  position: relative;
  margin-bottom: 25px;
  padding: 10px 0;
  padding-left: 65px;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  box-sizing: border-box;
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    top: 50%;
    margin-top: -20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #444444;
    border-radius: 50%;
    background-clip: content-box;
  }
  &--color::before {
    border-radius: 0;
  }
  &--color::after {
  }
  &--fio::before {
    display: none;
  }
}

.form__input--checkbox:checked + .form__label--color::before {
  background-color: #62d1ba;
}

.form__input--radio:checked + .form__label--radio::before {
  background-color: #62d1ba;
}

.form__label--fio {
  margin: 0;
  padding: 0;
  border: none;
}

.form__field {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 10px 0;
  margin-bottom: 30px;
  border-radius: none;
  background-color: transparent;
}

.form__field--textarea {
  border: 2px solid black;
  width: 100%;
  padding: 17px 15px;
  box-sizing: border-box;
}

.form__btn-text {
  display: none;
}

@media @tablet-widths {
  .form {
    padding: 0;
  }

  .form__item {
    border: none;
    display: flex;
    flex-direction: row;
    padding-left: 6.51%;
    padding-right: 6.51%
  }

  .form__item--text {
    padding-top: 25px;
    padding-bottom: 60px;
  }

  .form__item--type {
    padding-bottom: 25px;
  }

  .form__item--color {
    background-color: #f1f1f1;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .form__item--fio {
    padding-top: 60px;
  }

  .form__item--tel {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f1f1f1;
  }

  .form__item--email {
    background-color: #f1f1f1;
    padding-bottom: 70px;
  }

  .form__item--dop {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .form__item--btn {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
  }

  .form__text {
    padding-left: 25%;
    margin: 0;
  }


  .form__item-title-wrap {
    width: 25%;
    margin: 0;
    align-items: flex-start;
  }

  .form__item-border {
    display: none;
  }

  .form__item-title {
    display: block;
  }

  .form__list--fio {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .form__list-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }


  .form__field {
    width: auto;
    flex-grow: 1;
    margin: 0;
  }

  .form__label--color {
    width: 50%;
    display: block;
  }

  .form__label--fio {
    display: inline;
  }

  .form__list {
    width: 100%;
  }

  .form__list--color {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__btn {
    width: 230px;
    margin: 0
  }

  .form__btn-text {
    display: inline;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;

  }
}
