.main-nav {
  .container()
}

.main-nav__logo {
  min-height: 80px;
  min-width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__img {
  background-image: url("../img/logo-mobile.svg");
  min-height: 80px;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__list,
.main-nav__user-list {
  .menu-list();
}

.main-nav__link,
.main-nav__user-link {
  .menu-link();
  width: 100%;
  position: relative;
}


.main-nav__user-link::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  content: "";
  background-color: #ccc;
}

@media @tablet-widths {
  .main-nav {
    border-bottom: 1px solid #ccc;
  }

  .main-nav__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    min-height: 90px;
  }

  .main-nav__list,
  .main-nav__user-list {
    flex-direction: row;
  }

  .main-nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .main-nav__link--catalog {
    padding-left: 0
  }

  .main-nav__link--form {
    padding-left: 33px;
  }


  .main-nav__user-link--search {
    font-size: 0;
  }

  .main-nav__user-item--search {
    margin-right: 20px;
  }
}


@media @desktop-widths {

  .main-nav__list {
    order: -1;
    position: static;
    width: 40%;
  }

  .main-nav__user-list {
    width: 40%;
    justify-content: flex-end;
  }
}
