.main-nav {
  display: none;
}

.no-js {
  display: block;
}

.main-nav--close {
display: block;
}

.main-nav__user-item,
.main-nav__item {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.main-nav__logo {
  min-height: 80px;
  min-width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.main-nav__img {
  background-image: url("../img/logo-mobile.svg");
  min-height: 80px;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 9.365%;
  top: 30px;
  overflow: hidden;
}

.main-nav__toggle-item {
  position: absolute;
  height: 2px;
  width: 20px;
  display: block;
  background-color: #221f1f;
  transition: 0.3s
}


.main-nav__toggle-item--top {
  transform: translateY(4px);
}

.main-nav__toggle-item--midle {
  transform: translateY(9px);
  opacity: 1
}

.main-nav__toggle-item--bottom {
  transform: translateY(14px);
}

.main-nav__toggle-item--top-close,
.main-nav__toggle-item--nojs-top {
  transform: translateY(9px) rotate(-45deg);
}

.main-nav__toggle-item--midle-close,
.main-nav__toggle-item--nojs-midle {
  transform: translateX(20px) translateY(9px);
  opacity: 0
}

.main-nav__toggle-item--bottom-close,
.main-nav__toggle-item--nojs-bottom {
  transform: translateY(9px) rotate(45deg);
}

.main-nav__list,
.main-nav__user-list {
  .menu-list();
}

.main-nav__link,
.main-nav__user-link {
  .menu-link();
  width: 100%;
  position: relative;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__link {

}


.main-nav__user-link::after {
  position: absolute;
  top: 50%;
  left: 28px;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  content: "";
  background-color: #d3d2d2;
}

@media @tablet-widths {
  .main-nav {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ececec;
    display: flex;
    transition: 0;
    justify-content: flex-end;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__user-item,
  .main-nav__item {
    padding: 0;
    border-bottom: none;
  }

  .main-nav__inner {
    .container();
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    min-height: 90px;
    border: 0;
    position: absolute;
    z-index: 1;
  }

  .main-nav__list,
  .main-nav__user-list {
    flex-direction: row;
  }

  .main-nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .main-nav__link--catalog {
    padding-left: 0
  }

  .main-nav__link--form {
    padding-left: 33px;
  }


  .main-nav__user-link--search {
    font-size: 0;
  }

  .main-nav__user-item {
    border-bottom: none;
  }

  .main-nav__user-item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}


@media @desktop-widths {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .main-nav__list {
    order: -1;
    position: static;
    width: 40%;
  }

  .main-nav__user-list {
    width: 40%;
    justify-content: flex-end;
  }
}
