.offers {
    text-align: center;
    &__title {
        padding: 0 13px;
        padding-top: 90px;
        padding-bottom: 120px;
        font-size: 24px;
        line-height: 30px;
        color: #231f20;
    }
    &__fon {
        background-color: #fafafa;
        background-image: url("../img/hero-mobile@1x.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}

.offers-table {
    width: 100%;
    margin-bottom: 30px;
    &__row {
        min-height: 103px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--interior {
            background-color: #63d1bb;
        }
        &--toys {
            background-color: #56c3b2;
        }
    }
    &__cell {
        line-height: 0;
        &--left {
            margin-left: 30px;
        }
        &--right {
            margin-right: 30px;
        }
    }
    &__link {
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        font-family: "Open Sans";
        font-weight: bold;
    }
}
