.category-table {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.category-table__item {
  display: flex;
  min-height: 103px;
  padding: 0 30px;
  align-items: center;
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  &:hover .category-table__link {
    margin-top: -5px;
  }
}

.category-table__item--interior {
  background-color: @color-interior;
  &:hover {
    background-color: lighten(@color-interior, 5%);
  }
}

.category-table__item--toys {
  background-color: @color-toys;
  &:hover {
    background-color: darken(@color-toys, 5%);
  }
}

.category-table__link {
}

@media @tablet-widths {
  .category-table {
    .container();
    flex-direction: row;
    margin-top: 287px;
  }

  .category-table__item {
    width: 50%;
    padding: 0 35px;
    min-height: 119px;
  }
}

@media @desktop-widths {
  .category-table {
    margin-top: 277px;
  }

  .category-table__item {
    padding: 0 40px;
  }
}
